# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/
.idea/
node_modules/


# Executables
*.swf
*.air
*.ipa
*.apk
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.project

